.login {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card-login {
  position: relative;
  width: 800px;
  height: 400px;
  background-color: white;
  display: flex;
  overflow: hidden;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.225);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.left {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dfff939f;
}

.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h2 {
  color: rgb(138, 138, 138);
  padding: 10px;
  text-transform: uppercase;
}

.circulo1 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
  top: -100px;
  right: -10%;
  background: rgb(22, 188, 236);
  background: linear-gradient(
    0deg,
    rgba(22, 188, 236, 1) 0%,
    rgba(162, 161, 205, 1) 100%
  );
}
.circulo2 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 0;
  top: -40px;
  right: 10%;
  z-index: 0;
  background: rgb(224, 22, 236);
  background: linear-gradient(
    0deg,
    rgba(224, 22, 236, 1) 0%,
    rgba(205, 161, 161, 1) 100%
  );
}
.circulo3 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 0;
  top: 50%;
  left: -100px;
  z-index: 0;
  background: rgb(138, 194, 139);
  background: linear-gradient(
    0deg,
    rgba(138, 194, 139, 1) 0%,
    rgba(217, 244, 188, 1) 100%
  );
}

.circulo1,
.circulo2,
.circulo3 {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.right {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  z-index: 1;
}

.right h2 {
  font-weight: bold;
  font-size: 3rem;
}
.right input {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
}

.botones {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botones button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: rgb(176, 252, 217);
}

.menu {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.menu ul {
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.menu a {
  color: rgb(37, 37, 37);
}

.bi {
  filter: drop-shadow(1px 1px 3px #888);
  -webkit-filter: drop-shadow(1px 1px 3px #888);
  animation: spin infinite 4s alternate;
  -webkit-animation: spin infinite 4s alternate;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media screen and (max-width: 960px) {
  .card-login {
    position: relative;
    width: 90%;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .left{
    position: relative;
    width: 100%;
    height: 500px;
  }
  .right{
    width: 100%;
    height: 500px;
  }
  .right h2 {
    font-weight: bold;
    font-size: 1rem;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .card-login {
    position: relative;
    width: 90%;
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: row;
  }

  .left , .right{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu a {
    font-size: 12px;
  }


}