.login-facebook {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(234, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card-facebook {
    width: 400px;
    background-color: white;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    box-shadow: 4px 4px 8px #0000002b;
    font-family: inherit;
  }
  
  .logo-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 20px;
  }
  
  .logo-facebook img {
    width: 80%;
  }
  
  .logo-facebook h2 {
    color: black;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
  }
  
  .data-facebook {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .data-facebook input {
    border: 1px solid rgba(128, 128, 128, 0.561);
    margin: 5px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    text-align: left;
    height: 50px;
    
  }
  
  .btn-facebook {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 10px;
  }
  
  .btn-facebook button {
    border: none;
    background-color: #1877f2;
    font-weight: bold;
    color: white;
    width: 90%;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    height: 50px;
    font-size: 20px;
    font-family: inherit;
    cursor: pointer;
  }
  
  .changePassword {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
    margin: 0% 10%;
  }
  .changePassword a {
    color: rgb(0, 195, 255);
    padding: 10px;
  }
  
  .new-account {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .new-account button {
    border: none;
    background-color: #42b72a;
    color: white;
    font-weight: 600;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 50px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
  }
  