#root {
  --purple: #5550f2;
}

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.box-login {
  top: 30px;
  position: relative;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  z-index: 1;
  overflow: hidden;
  animation: animation1 1s;
  -webkit-animation: animation1 1s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.logo-login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}
.logo-login span {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.logo-login h1 {
  font-weight: 100;
  font-size: 18px;
  padding: 5px;
  color: white;
}

.login-background {
  position: absolute;
  z-index: 0;
  width: 800px;
  height: 300px;
  border-radius: 0% 0% 50% 50%;
  -webkit-border-radius: 0% 0% 50% 50%;
  -moz-border-radius: 0% 0% 50% 50%;
  -ms-border-radius: 0% 0% 50% 50%;
  -o-border-radius: 0% 0% 50% 50%;
  top: 0;
  background: linear-gradient(
      230deg,
      rgba(255, 0, 179, 0.8),
      rgba(150, 4, 138, 0) 50.71%
    ),
    linear-gradient(108deg, rgba(0, 140, 255, 0.8), rgba(9, 37, 196, 0) 100.71%),
    linear-gradient(336deg, rgba(98, 0, 255, 0.8), rgba(0, 0, 255, 0) 100.71%);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.432);
}

.data-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 20px;
  z-index: 1;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}
.data-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--purple);
  font-size: 12px;
  width: 100%;
}
input {
  position: relative;
  display: absolute;
  border: none;
  border-bottom: 1px solid rgba(12, 12, 12, 0.2);
  font-size: 12px;
  height: 16px;
  width: 100%;
}

.btn-login {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

.btn-login button {
  background-color: var(--purple);
  border: none;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  color: white;
  cursor: pointer;
}

.background-btn {
  position: absolute;
  background-color: #ffffff38;
  width: 100%;
  height: 30px;
  border-radius: 0% 0% 50% 50%;
  -webkit-border-radius: 0% 0% 50% 50%;
  -moz-border-radius: 0% 0% 50% 50%;
  -ms-border-radius: 0% 0% 50% 50%;
  -o-border-radius: 0% 0% 50% 50%;
  z-index: 0;
  top: 0;
}

.sign {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign a {
  color: var(--purple);
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.social-login {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.social-login a {
  width: 40px;
  height: 40px;
  background-color: var(--purple);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes animation1 {
  from {
    scale: 0;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }

  to {
    scale: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
}
/* ######## Responsive ########### */

@media (max-width: 960px) {
  .box-login {
    position: relative;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-top: 60px;
  }
  .logo-login {
    padding: 20px;
    width: 100%;
  }

  .logo-login span {
    width: 80px;
    height: 80px;
  }
  .logo-login h1 {
    font-weight: 100;
    font-size: 18px;
    padding: 5px;
  }

  .data-login {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 16px;
  }
}

@media (max-width: 960px) and (orientation: landscape) {
  .login {
    height: 100%;
  }

  .box-login {
    position: relative;
    top: 0px;
  }
}

@media (max-width: 340px) {
  .login {
    height: 100%;
    top: 20px;
  }

  .box-login {
    position: relative;
    top: 0px;
  }
}
