@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
#root {
  --color-text: rgb(37, 37, 37);
  --color-placeholder: rgba(0, 0, 0, 0.416);
}

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("https://img.freepik.com/foto-gratis/fondo-blanco-negro_23-2150530972.jpg?w=900&t=st=1697025914~exp=1697026514~hmac=94805a9ba666bcc3e22076189b3f545e8d664fd72c6e51c4d03078084e406e49");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.card-box {
  position: relative;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.535);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.23);
}
.form {
  position: relative;
  width: 100%;
  height: 400px;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  z-index: 1;
  border-radius: 100px 0px 0px 0px;
  -webkit-border-radius: 100px 0px 0px 0px;
  -moz-border-radius: 100px 0px 0px 0px;
  -ms-border-radius: 100px 0px 0px 0px;
  -o-border-radius: 100px 0px 0px 0px;
  top: 40px;

}
.form label {
  font-size: 12px;
}
.figure {
  position: absolute;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 300px;
  top: 0;
  z-index: 0;
}
.form span {
  text-align: center;
  font-size: 12px;
}
.title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.title h2 {
  text-align: center;
  color: white;
  font-weight: bold;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-media a {
  cursor: pointer;
}
.data {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.data input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid var(--color-text);
  width: 100%;
  color: var(--color-text);
  font-size: 12px;
  outline: none;
}

.recover {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.recover span,
.recover a {
  font-size: 10px;
  color: var(--color-text);
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
}
.button {
  display: flex;
  justify-content: center;
}

.button button {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px;
  width: 80%;
  color: white;
}

::placeholder {
  color: var(--color-placeholder);
}

.register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  padding: 10px;
}
.register a {
  font-weight: bold;
  cursor: pointer;
  color: var(--color-text);
}

@media (max-width: 960px) {
  .card-box {
    height: 500px;
    width: 90%;
  }
  .form {
    width: 100%;
  }
}
