@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
#root {
  --color-text: rgb(37, 37, 37);
  --color-placeholder: rgba(0, 0, 0, 0.416);
}

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/9436715/pexels-photo-9436715.jpeg?auto=compress&cs=tinysrgb&w=1200");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.card-box {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.535);
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(254, 254, 254, 0.253);
  backdrop-filter: blur(4px);
  scale: .9;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.card-box:hover{
  scale: 1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.form {
  width: 80%;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form span {
  text-align: center;
  font-size: 12px;
}
.form h2 {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.social-media a {
  cursor: pointer;
}
.data {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.data input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid var(--color-text);
  width: 100%;
  color: var(--color-text);
  font-size: 12px;
}

.recover {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.recover span,
.recover a {
  font-size: 10px;
  color: var(--color-text);
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  background-color: rgb(94, 209, 94);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px;
  width: 80%;
  color: white;
}

::placeholder {
  color: var(--color-placeholder);
}

.register {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10px;
  padding: 10px;
}
.register a {
  font-weight: bold;
}

@media (max-width: 960px) {
  .card-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  .form {
    width: 100%;
  }
}
