
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
.login {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.card-box {
  position: relative;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.4);

  background-image: var(--img);
  box-shadow: var(--box-shadow);


}
.information {
  width: 50%;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.information p {
  text-align: center;
  font-size: 10px;
  width: 60%;
}
.information span {
  font-size: 10px;
}
.form {
  width: 50%;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(15, 15, 15, 0.178);
  backdrop-filter: blur(2px);
}
.form h2 {
  text-align: center;
}

.social-media {
  display: flex;
  gap: 20px;
}
.social-media a {
  cursor: pointer;
}
.data {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.data input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  color: var(--color-text);
  font-size: 12px;
}

.recover {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.recover span,
.recover a {
  font-size:var(--font-size);
  color: var(--color-text);
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  background-color:var(--color-button);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px;
  width: 80%;
  color:var(--color-text);
}

::placeholder {
  color: rgba(255, 255, 255, 0.749);
}

.register {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  padding: 10px;
}
.register a {
  font-weight: bold;
}

@media (max-width: 960px) {
  .card-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
  }

  .information,
  .form {
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 960px) {
  .card-box {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 90%;
  }
}
