@font-face {
  font-family: Dreams-Bold;
  src: url("../Assets/Fonts/CaviarDreams_Bold.ttf");
}
@font-face {
  font-family: Dreams-Light;
  src: url("../Assets/Fonts/CaviarDreams.ttf");
}

:root {
  --color-text: white;
  --color-primary: rgba(43, 230, 174, 0.603);
}
body{
    background-color: white;
}
.card {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Dreams-Light;
}

.circle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60vh;
  border-radius: 0px 0px 15% 15%;
  background-image: linear-gradient(
    to bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.circle2 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: -50px;
  top: -100px;
  background-color: #00e069;
  background-image: linear-gradient(45deg, #1265ff 0%, #7dffaf 100%);
}

.card-login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(225, 227, 252, 0.233);
  width: 90%;
  height: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid white;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  font-family: Dreams-Light;
  gap: 20px;
  color: white;
  padding: 60px 40px;
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: var(--color-text);
}
.login h1 {
  font-family: Dreams-Bold;
  width: 100%;
}
.login span {
  width: 100%;
}

.login input {
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
  font-family: Dreams-Light;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/*========== BUTTONS ==========*/

.card-login button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 60%;
  background-color: var(--color-primary);
  color: var(--color-text);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.social-media button {
  background-color: var(--color-text);
  color: black;
}

.login a {
  color: var(--color-primary);
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
