@font-face {
  font-family: Dreams-Bold;
  src: url("../Assets/Fonts/CaviarDreams_Bold.ttf");
}
@font-face {
  font-family: Dreams-Light;
  src: url("../Assets/Fonts/CaviarDreams.ttf");
}

:root {
  --color-text: white;
  --color-primary: rgba(43, 230, 174, 0.603);
}
body {
  background-color: rgb(252, 252, 252);
  width: 100%;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Dreams-Light;
  background-color: rgb(255, 255, 255);
}
.card {
  position: relative;
  width: 600px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* =================== Tablet =================== */

.card h1 {
  width: 100%;
  color: rgb(255, 255, 255);
  z-index: 1;
  padding: 20px;
  text-align: center;
  font-family: Dreams-Bold;
  font-size: 2rem;
}

.circle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60vh;
  border-radius: 0px 0px 15% 15%;
  background: rgb(29, 183, 185);
  background: linear-gradient(
    0deg,
    rgba(29, 183, 185, 1) 0%,
    rgba(147, 198, 104, 1) 100%
  );
  animation: down 2s linear;
  -webkit-animation: down 2s linear;
}
.circle2 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: -50px;
  top: -100px;
  background-color: #00e069;
  background-image: linear-gradient(45deg, #1265ff 0%, #7dffaf 100%);
  animation: scale 2s;
  -webkit-animation: scale 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  scale: 0;
}

.card-login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(78, 79, 87, 0.1);
  width: 100%;
  border-radius: 0x 0px 20px 20px;
  -webkit-border-radius: 0x 0px 20px 20p;
  -moz-border-radius: 0x 0px 20px 20p;
  -ms-border-radius: 0x 0px 20px 20p;
  -o-border-radius: 0x 0px 20px 20p;
  border: 1px solid white;
  backdrop-filter: blur(10px);
  font-family: Dreams-Light;
  gap: 20px;
  color: white;
  padding: 20px 0px;
  animation: scale 2s;
  -webkit-animation: scale 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  scale: 0;
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: var(--color-text);
}
.login h1 {
  font-family: Dreams-Bold;
  width: 100%;
}
.login span {
  width: 100%;
}

.login input {
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
  font-family: Dreams-Light;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/*========== BUTTONS ==========*/

.card-login button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 60%;
  background-color: var(--color-primary);
  color: var(--color-text);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}
.card-login button:hover {
  background-color: #41dfff;
  color: white;
}

.social-media button {
  background-color: var(--color-text);
  color: black;
}

.login a {
  color: var(--color-primary);
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* =================== Mobile =================== */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* ================= Animaciones ================= */

@keyframes down {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes scale {
  to {
    scale: 1;
  }
}
