* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}














/*=================Estilos globales CSS================= */

:root{

--color-text: rgb(255, 255, 255);
--color-button:rgb(99, 238, 99);
--font-size: 12px;
--box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.123);
--img: url("https://images.pexels.com/photos/212323/pexels-photo-212323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
--img2: url("https://images.pexels.com/photos/1995730/pexels-photo-1995730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
--name-example: red;





}